:root {
  --tile-size: 50px;
  --bg-color: #0b0f19;
  --line-color: rgba(255, 255, 255, 0.04);
  --glow-color: rgba(200, 14, 85, 0.6);
  --surface: rgba(18, 22, 38, 0.65);
}

body {
  margin: 0;
  background-color: var(--bg-color);
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter;
}

.grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--tile-size), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(var(--tile-size), 1fr));
  z-index: 1;
}

.tile {
  border-right: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
  background-color: transparent;
  transition: background-color 1.2s ease-out;
}

.tile:hover {
  background-color: var(--glow-color);
  transition: background-color 0s;
  box-shadow: 0 0 15px var(--glow-color);
  z-index: 1;
}

.login-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;

  width: min(1200px, 90vw);
  height: min(600px, 88vh);

  display: flex;
  overflow: hidden;

  background: var(--surface);

  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);

  border-radius: 24px;

  transition: 0.35s ease;
}

.login-wrapper h1 {
  margin-bottom: 8px;
  font-size: clamp(1.75rem, 2vw, 2.25rem);
  font-weight: 700;
  line-height: 1.2;
  color: #f5f5f5;
}

.login-wrapper h1 span {
  color: #c80e55;
}

.login-wrapper h2 {
  margin-bottom: 42px;
  font-size: clamp(.9rem, 1vw, 1rem);
  font-weight: 400;
  color: #8a8b93;
}

.left-panel {
  flex: 3;
  /* background: linear-gradient(144deg, rgba(55, 60, 165, 1) 4%, rgba(37, 40, 110, 1) 10%, rgba(21, 23, 63, 1) 21%); */
  /* background:linear-gradient(
    180deg,
    rgba(41,47,96,.45),
    rgba(18,20,45,.15)
   ); */
  background: linear-gradient(
    135deg,
    #343d9d 0%,
    #232963 25%,
    #181d4b 60%,
    #11152f 100%
  );

}

.right-panel {
  flex: 2;
  background: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
}

.right-panel form {
  width: 100%;
  max-width: 340px;
}

.left-panel,
.right-panel {
  padding: clamp(20px, 4vw, 40px);
}

.field-group {
  position: relative;
  margin-bottom: 24px;
  width: 100%;
}

.field-group input {
  width: 100%;
  height: 54px;
  padding: 14px 12px;
  font-size: clamp(.9rem,.95vw,1rem);
  color: #f4f4f4;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  outline: none;

  transition:
    border-color 0.25s,
    box-shadow 0.25s,
    background 0.25s;
}

.field-group input:focus {
  border-color: #c80e55;
  box-shadow: 0 0 18px rgba(200, 14, 85, 0.25);
}

.field-group input::placeholder {
  color: #7d8190;
}

.field-group label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 4px;
  font-size: clamp(.85rem,.95vw,.95rem);
  color: #8a8b93;
  pointer-events: none;
  transition:
    top 0.15s ease,
    transform 0.15s ease;
}

.field-group input:focus + label,
.field-group input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.85);
}

.login-btn{
    width:100%;
    height:54px;
    margin-top:18px;
    display:flex;
    align-items:center;
    justify-content:center;

    border:2px solid #c80e55;
    border-radius:14px;
    background:transparent;
    color:#c80e55;

    font-size: clamp(.9rem,.95vw,1rem);
    font-weight:600;
    text-decoration:none;

    cursor:pointer;

    transition:
        background .25s,
        color .25s,
        box-shadow .25s,
        transform .25s;
}

.login-btn:hover{
    background:linear-gradient(90deg,#c80e55,#8b1fa9);

    color:#fff;

    transform:translateY(-2px);

    box-shadow:0 10px 30px rgba(200,14,85,.35);
}

.right-panel h3{
   margin-bottom: 42px;

  font-size: clamp(.85rem,.9vw,.95rem);
  font-weight: 400;

  color: #8a8b93;

}

.right-panel span{
   background:-webkit-linear-gradient(90deg,#c80e55,#8b1fa9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.recent-header{
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 20px;
}

.recent-header h2{
   padding-top: 40px ;
    align-items: center;
    font-size: clamp(1.2rem,1.5vw,1.5rem);
    font-weight:600;
    line-height: 1;
    color:#ffffff;
    
}

.recent-icon{
   width: 40px;
   height: clamp(30px,3vw,40px);
   flex-shrink: 0;
   display: block;
}

.time-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    padding:18px 20px;  
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.05);
    border-radius:16px;
    margin-bottom:16px;
}

.employee-name{
    color:white;
    font-size: clamp(.9rem,1vw,1rem);
    font-weight:600;
}

.time-column{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.column-title{
    margin-bottom:4px;
    color:#8d94c8;
    font-size:clamp(9px,.7vw,10px);
    text-transform:uppercase;
    letter-spacing:.8px;
}

.column-value{
    color:#ffffff;
    font-size: clamp(.8rem,.95vw,.95rem);
    font-weight:500;
}

.status{
   color:#16ae5f;
   font-size:clamp(12px,.9vw,14px);
   font-weight:500;
}

